.cabecalho {
    background-color: #383D58;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 18px 0;
}

.cabecalho-imagem {
    width: 18%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    padding: 10px 0;
    font-size: 22px;
}

* {
    margin: 0;
    padding: 0;
}
.escola-imagem{
    width: 25%;
}

.escola {
    background-image:linear-gradient(#F4CDFF) 
}

.escola-conteúdo {
    width: 35%;
} 

display: flex;
justify-content: center; 
align-itens: center;
padding: 24px 0; 

.escola-título {
    padding: 24px 0;
}

